<header class="main-header">
    <img src="../../../assets/images/logo.png" alt="logo">
    <button class="menu-btn" (click)="onMenuClick()">
        <img src="../../../assets/images/MANU.png" alt="menu">
    </button>
    <p>ELECTRICAL LICENSE TRACKING PORTAL</p>
    <input id="search" type="text" placeholder="Search">
    <img class="bell" src="../../../assets/images/bell-icon.png" alt="menu" (click)="onBellClick()">
    <p class="Signout">Signout</p>
    <img class="user" src="../../../assets/images/user.png" alt="menu" (click)="onUserClick()">
</header>
